/* Colors: */
/* header grey: #D9D9D9 */
/* barely see beige: #F8F7F5 */

/* Fonts */
/* titles: Bowlby One */
/* other: Mallanna */

:root {
    --title: "Bowlby One", sans-serif;
    --text: "Mallanna", sans-serif;
    --headerGrey: #D9D9D9;
}

/* ---------------classes */
.P3{
    padding: 3%;
}

.title{
    font-family: var(--title);
}

.flex{
    display: flex;
    align-items: center;
}
/* --------------------------------- */
* {
    margin: 0;
}

body{
    font-family: var(--text);
}



form{
    background: #F2EEE7;
    padding: 2%;
}

form label{
    font-weight: bold;
}
form small{
    color: red;
}

.land{
    background-color: var(--headerGrey);
}
.auth{
    background-color: white;
}

.found{
    flex-wrap: wrap;
    background-color: var(--headerGrey);
    
}

.card{
    width: 30vw;
    height: 30vh;
    margin: 1% .5% ;
}

.card h1{

}

.footer{
    background-color: var(--headerGrey);
}

img{
    object-fit: contain;
    max-width: 100%;
    max-height: 60%;
}

