.backdrop{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(120, 118, 115, 0.75);
}

.modal{
    position: fixed;
    top:15vh;
    left: 10%;
    width: 80%;
    height: 65%;
    z-index: 100;
    overflow: hidden;
    background-color: white;
    display: grid;
    grid-template-rows: 7% 70% 30%;
}



.modalinfo{
    display: grid;
    grid-template-columns:5% 30% 60% 5%;
}

.modala{
    grid-column-start:2;
    grid-column-end: 3;
}